<h1>Create News Here</h1>
<form [formGroup]="newscreate" (ngSubmit)="onSubmitForm()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Heading of The News</mat-label>
    <input matInput formControlName="Headline" />
  </mat-form-field>

  <mat-form-field class="example-full-width2" appearance="fill">
    <mat-label>Sortdescription of The News</mat-label>
    <input matInput formControlName="SortDescription" />
  </mat-form-field>

  <mat-form-field class="example-full-width3" appearance="fill">
    <mat-label>Detailes description of The News</mat-label>
    <textarea matInput formControlName="LongDescription"></textarea>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">Click For Save</button>
</form>
