<h1>Create News Here in Below</h1>
<form [formGroup]="newscreate" (ngSubmit)="onSubmitForm()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Heading of The News</mat-label>
    <input matInput formControlName="Headline" />
  </mat-form-field>

  <mat-form-field class="example-full-width2" appearance="fill">
    <mat-label>Sortdescription of The News</mat-label>
    <input matInput formControlName="SortDescription" />
  </mat-form-field>

  <mat-form-field class="example-full-width3" appearance="fill">
    <mat-label>Detailes description of The News</mat-label>
    <textarea matInput formControlName="LongDescription"></textarea>
  </mat-form-field>
  <button (click)="show('Created The News : Complete')" type="submit" mat-flat-button color="primary">
    Save Button
  </button>
  <h2>{{ display }}</h2>
</form>
