<h1>Edit The News Below</h1>
<form [formGroup]="newscreateUpdate" (ngSubmit)="onSubmitFormUpdate()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Heading of The News</mat-label>
    <input matInput formControlName="Headline" />
  </mat-form-field>

  <mat-form-field class="example-full-width2" appearance="fill">
    <mat-label>Sortdescription of The News</mat-label>
    <input matInput formControlName="SortDescription" />
  </mat-form-field>

  <mat-form-field class="example-full-width3" appearance="fill">
    <mat-label>Detailes description of The News</mat-label>
    <textarea matInput formControlName="LongDescription"></textarea>
  </mat-form-field>

  <button type="submit" (click)="updatesatus('Edited The value : Complete')" mat-flat-button color="primary">
    Click For Save the Edit
  </button>
  <h2>{{ upsts }}</h2>
</form>
